.pt_nav_table {
  background: #2A3F54;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
  color: #E7E7E7;
}

.pt_app_menu .x-menu-body {
  background: #aaa;
}

.pt_nav_table tr {
  line-height: 24px;
  height: 32px;
}

.pt_nav_table td {
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 15px;
}

.pt_nav_table td:hover {
  background-color: #475a6e;
}

.pt_cardview .pt_nav_table td:hover,
.pt_item_sel {
  background-color: #475a6e;
}

.pt_view_folder {
  font-size: 12.5px;
}

.pt_view_folder_exp {
  font-size: 12.5px;
  text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
  background: linear-gradient(#334556, #2C4257), #2A3F54;
  box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.pt_view_folder_exp td:hover {
  text-shadow: rgba(0, 0, 0, .5) 0 -1px 0;
  background: linear-gradient(#435566, #3C5267), #3A4F64;
  box-shadow: rgba(0, 0, 0, .5) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.pt_view_item span {
  position: relative;
}

.pt_ball_icon:before {
  background: #425668;
  content: "";
  height: 8px;
  left: -18px;
  margin-top: 9px;
  position: absolute;
  width: 8px;
  border-radius: 50%;
  z-index: 2;
}

.pt_abs_icon {
  position: relative;
  z-index: 5;
}

.pt_line_icon:after {
  border-left: 1px solid #425668;
  content: "";
  left: -14px;
  top: -9px;
  position: absolute;
  height: 32px;
  z-index: 1;
}

.pt_menu_arrow {
  width: 6px;
  position: absolute;
  height: 9px;
  right: 4px;
  color: #bbb;
}

.pt_list_menu {
  background: #2A3F54;
  border: 1px solid #666;
  cursor: default;
}

.pt_item_title {
  height: 23px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  color: #E7E7E7;
  vertical-align: top;
}

.pt_item {
  margin-left: 2px;
}

.pt_module .pt_item1 {
  line-height: 18px;
  padding: 5px;
  cursor: pointer;
}

.pt_module .pt_item1:hover {
  background-color: #475a6e;
}

.pt_module span {
  color: #E7E7E7;
}

.pt_module td {
  white-space: nowrap;
}

.pt_cardpanel .x-panel-body-default {
  background-color: #2A3F54;
  border-color: #2A3F54;
}

.pt_glyph {
  margin: 0 6px 0 4px;
  width: 15px;
  display: inline-block;
}

.pt_cardview {
  background-color: #2A3F54;
  color: #E7E7E7;
}

.pt_cardview::-webkit-scrollbar-track {
  background-color: #3A4F64;
}

.pt_cardview::-webkit-scrollbar {
  width: 10px;
}

.pt_cardview::-webkit-scrollbar-thumb {
  background-color: #1ABB9C;
}

.pt_card_margin {
  margin: 6px 0 6px 0;
}

.pt_topbar {
  background: #0287cb;
  color: #eee;
}

.pt_topbar .x-toolbar-default {
  border-color: transparent;
  background: transparent;
}

.pt_topbar .x-btn-default-toolbar-small .x-btn-inner {
  color: #eee;
}

.pt_topbar .x-toolbar-item {
  height: 38px;
  padding: 10px 5px 0 5px !important;
}

.pt_topbar .x-btn-default-toolbar-small {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: transparent;
  border-color: transparent;
}

.pt_topbar .x-toolbar-more-icon {
  background-image: none !important;
}

.pt_topbar .x-toolbar-more-icon:after {
  content: "\f141";
  font: normal normal normal 15px/1 FontAwesome;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee;
}

.pt_topbar .x-btn-default-toolbar-small .x-btn-glyph {
  color: #eee;
}

.pt_topbar .x-btn-focus {
  background: transparent;
  border-color: transparent;
}

.pt_topbar .x-btn-pressed.x-btn-over {
  background: #0270ad;
  border-color: transparent;
}

.pt_topbar .x-btn-over {
  background: transparent;
  border-color: transparent;
}

.pt_topbar .x-btn-default-toolbar-small-menu-active,
.pt_topbar .x-btn-default-toolbar-small-pressed {
  background: #0270ad;
  border-color: transparent;
}

.pt_topbar .x-toolbar-default {
  border-width: 0;
}

.pt_topbar .x-toolbar {
  padding: 0;
}

.pt_app_title {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  line-height: 38px;
  min-width: 200px;
  padding: 0 8px 0 8px;
}

.pt_searchbar {
  background: #172D44;
}

.pt_searchfield {
  border: 0;
  background: #172D44;
  color: #ccc;
  height: 25px !important;
  line-height: 25px !important;
}

.pt_searchfield:focus {
  background: #ddd;
  color: black;
}

.pt_folder_flag {
  float: right;
  width: 20px;
  color: #bbb;
  font-size: 10px;
  padding-top: 1px;
}

.pt_folder:before {
  content: "\f078";
}

.pt_folder_open:before {
  content: "\f077";
}

.pt_tree .x-grid-cell {
  background-color: #2A3F54;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #E7E7E7;
}

.pt_tree .x-grid-row-over .x-grid-cell {
  background-color: #475a6e;
}

.pt_tree .wb_nodeglyph {
  color: #E7E7E7;
}

.pt_tree .x-grid-row-selected .x-grid-cell {
  background-color: #475a6e;
  border-color: #475a6e;
}

.pt_tree .x-grid-row-selected .x-grid-cell {
  background-color: #475a6e;
  border-color: #475a6e;
}

.pt_tree .x-grid-row-before-focused .x-grid-td {
  border-color: #475a6e;
}

.pt_tree .x-grid-body .x-grid-table-focused-first {
  border-color: #475a6e;
}

.pt_reconnect_btn {
  cursor: pointer;
  background: red;
  color: white;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
}